body{
  background-color: #211E1E;
}

a:hover{
  color:#3FAE29; 
}

.rounded-social-buttons a:hover{
  color:#3FAE29; 
  border: 2px solid #3FAE29;
}

/*  */
.rounded-social-buttons {
  border-radius: 20px;
  bottom: 10%;
  padding-left: 3%;
  position: fixed;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: inherit;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #ECEDEC;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.dinoMascot{
  position: absolute;
  background: url("../images/mascotDino.svg");
  background-size: cover;
  height: 600px;
  width: 600px;
  bottom: 10%;
  right: 5%;
}

.tipografia{
  height: 12rem;
}

/* Navbar */

.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu a:hover {
  color:#3FAE29; 
  text-decoration: underline;
}

.is-active{
  color:#3FAE29 !important; 
  text-decoration: underline !important;
}

.sticky-shrinknav-menu a {
  color: #ECEDEC;
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
      -ms-transform: translateY(-1.875rem);
          transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: #ECEDEC;
}

.sticky-shrinknav-header {
  width: 100%;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 3;
}


body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.3s ease;

}

.fullscreen-image-slider{
  z-index: -1;
}
.fullscreen-image-slider .orbit-image {
  width: 100%;
  height: 100vh;
}

.fullscreen-image-slider .orbit-caption {
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background: none;
  text-align: center;
  color: #fefefe;
  font-weight: bold;
}
/* Home */

#Home{
  background: url("../images/home.jpg");
  background-size: cover;
  height: 100vh;
}

/* Esportes */
.expand-column-wrapper {
  height: 100vh;
  max-width: 100rem;
}

.expand-column-wrapper .column {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expand-column-wrapper .column:hover {
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
}

.expand-column-wrapper .column:hover .expand-column-content {
  opacity: 1;
}

.expand-column-wrapper .expand-column-content {
  color: #fefefe;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.expand-column-wrapper .column:hover h1 {
  opacity: 1;
}

.expand-column-wrapper h1{
  color: #fefefe;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 39.9375em) {
  .expand-column-wrapper {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.expand-column-wrapper .column:nth-of-type(1){
  background: url("../images/basquet.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(2) {
  background: url("../images/fute.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(3) {
  background: url("../images/hand.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(4) {
  background: url("../images/mesa.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(5) {
  background: url("../images/volei.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(6) {
  background: url("../images/volei.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

