body{
  background-color: #211E1E;
  padding-left: 3%;
}

a:hover{
  color:#3FAE29; 
}

.rounded-social-buttons a:hover{
  color:#3FAE29; 
  border: 2px solid #3FAE29;
}

/*  */
.rounded-social-buttons {
  bottom: 5%;
  position: fixed;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: inherit;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #ECEDEC;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.dinoMascot{
  position: absolute;
  background: url("../images/mascotDino.svg");
  background-size: cover;
  height: 600px;
  width: 600px;
  bottom: 10%;
  right: 5%;
}
