@media screen and (max-width: 39.9375em) {
    .contact-panel {
      width: 100%;
      right: 0;
    }
    /*@media (max-width: 639px){*/
    .nav-desktop{
        display: none;
    }

    .rounded-social-buttons{
        display: none;
    }

    .expand-column-wrapper {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #Home{
        background: url("../images/homemobile.jpg");
        background-size: cover;
        height: 100vh;
    }
}
/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}